@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

:root {
   --background-color:#f3e6d8;
   --primary-color:#302d2c;
   --secondary-color: #854632;
   --preparation-text-color:#7b284f;
   --preparation-box-color:#fff5fa;

}

body {
    background-color: var(--background-color);
}

